:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

/* ... Your turn! ... */

@media (min-width: 640px) {
}
nav {
  border: 1px solid var(--green);
  background-color: rgba(128, 178, 56, 65%);
  margin: auto;
}
nav ul,
li {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}
ul > li:nth-child(2n + 1):hover {
  transform: rotate(20deg);
}
ul > li:nth-child(2n):hover {
  transform: rotate(-20deg);
}
a {
  color: white;
  text-decoration: none;
}
header {
  background-image: url("../img/blue-splash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
header h1,
p {
  color: var(--orange);
  display: flex;
  justify-content: center;
  font-size: 55px;
  text-shadow: white 1px 1px 1px;
  margin: 0;
}
h2 {
  display: flex;
  justify-content: center;
  margin: auto;
  text-shadow: rgb(34, 33, 33) 1px 1px 1px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*.obstacles {
  background-color: var(--orange);
}
.obstacles article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}*/
